@font-face {
    font-family: 'GilroyRegular';
    src: url('/fonts/SVN-Gilroy Regular.otf') format('opentype'); /* OTF */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GilroyMedium';
    src: url('/fonts/SVN-Gilroy Medium.otf') format('opentype'); /* OTF */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GilroyMediumItalic';
    src: url('/fonts/SVN-Gilroy Medium Italic.otf') format('opentype'); /* OTF */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GilroyLight';
    src: url('/fonts/SVN-Gilroy Light.otf') format('opentype'); /* OTF */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GilroyBold';
    src: url('/fonts/SVN-Gilroy Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GilroySemiBold';
    src: url('/fonts/SVN-Gilroy SemiBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GilroyXBold';
    src: url('/fonts/SVN-Gilroy XBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FalconsFont';
    src: url('/fonts/FalconsFont.ttf') format('truetype'); /* TTF */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AphroditeSlimStylistic';
    src: url('/fonts/AphroditeSlimStylistic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #111;
    color: white;
    font-family: 'GilroyRegular';
    max-width: 441px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    body {
        max-width: 100%;
    }
}
.hero {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 250px;
    background: url('../image/backheader.png') no-repeat center center;
    background-size: cover;
    position: relative;
}
.desp {
    position: absolute;
    bottom: 0;
    left: 0;
}
.sp {
    position: absolute;
    z-index: 2;
    max-width: 50%;
    align-items: center;
    left: 25%;
    bottom: 12%;
}

.nensp {
    position: absolute;
    left: 0;
    bottom: 22%;
}
.discount {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* background: red; */
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 12px;
}
.discount .highlight {
    font-size: 40px;
    color: #ffce00;
    line-height: 0.6;
}
.cta-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: linear-gradient(180deg, #ff0000 20%, #d40303 50%, #a50101 80%);
    color: white;
    padding: 5px 10px;
    font-weight: bold;  
    border-radius: 5px;
    font-size: 12px;
    line-height: 1;
    box-shadow: #222 0px 0px 10px;
    transition: all 0.3s ease;
}
.cta-button .subtitle {
    font-size: 8px;
    font-style: italic;
}
.hero h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(180deg, #ffffff 20%, #bbbbbb 50%, #444444 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 
        2px 2px 0px #ff0000,
        4px 4px 3px rgba(0, 0, 0, 0.7),
        0px 0px 10px rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}

/* .problems */
.problems {
    text-align: center;
    padding: 34px 20px;
    background-color: #1a1a1a;
    background: url('../image/4x/Asset\ 19@4x.png') no-repeat center center;
    background-size: cover;
}
.problems h2 {
    color: white;
    font-family: 'GilroyLight';
    font-size: 16px;
    margin-bottom: 0;
}
.problems .highlight {
    color: black;
    font-size: 42px;
    border-radius: 5px;
    color: #ffce00;
    font-family: 'AphroditeSlimStylistic';
}
.problems .subtitle {
    display: inline-flex;
    font-size: 16px;
    color: #9b0404;
    font-family: 'GilroyBold';
    background-color: #ffce00;
    padding: 10px;
    border-radius: 25px 0 0 25px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
/* .problems .subtitle::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 70px;
    background: repeating-linear-gradient(
        -15deg,
        transparent 0px,
        transparent 5px,
        #000 5px,
        #000 10px
    );
} */
.problems .problem-list {
    list-style: none;
    padding: 0;
    display: inline-block;
    width: 100%;
}
.problems .problem-list li {
    background: linear-gradient(180deg, #860808 20%, #4e1111 50%, #111111 80%);
    margin: 10px 0;
    padding: 10px;
    border-radius: 25px;
    font-size: 11px;
    width: 100%;
    font-family: 'GilroyLight';
}
.problems .problem-list li .number{
    background: linear-gradient(180deg, #fbdc20 20%, #f9b51f 50%, #f7981e 80%);
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 13px;
}
.problems .icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px;
}
.problems .icons div {
    width: 33.3%;
    height: auto;
    padding: 5px;
    border-radius: 18px;
    border: 1px dashed #fbdc20;
}
.problems .icons div img{
    width: 100%;
    height: auto;
}
.problems .logo {
    margin-top: 20px;
}
.problems .logo .subimg-logo {
    padding-top: 150px;
}

/* .problems-1 */
.problems-1 .box-items {
    background: linear-gradient(180deg, #111111 20%, #4e1111 50%, #860808 80%);
    border-radius: 15px;
    padding: 10px;
    font-size: 10px;
    font-family: 'GilroyLight';
}

/* .problems-2 */
.problems-2 .box-items {
    padding-left: 10px;
    padding-right: 10px;
}
.problems-2 .button-form {
    background: linear-gradient(180deg, #860808 20%, #4e1111 50%, #111111 80%);
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    font-family: 'GilroyLight';
}

/* .problems-3 */
.problems-3 .box-items {
    background: linear-gradient(180deg, #860808 20%, #4e1111 50%, #111111  80%);
    border-radius: 15px;
    padding: 20px 10px;
    font-size: 10px;
    font-family: 'GilroyLight';
}
.problems-3 .button-form {
    background: linear-gradient(180deg, #860808 20%, #4e1111 50%, #111111 80%);
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    font-family: 'GilroyLight';
}

/* .problems-4 */
.problems-4 {
    text-align: center;
    height: 465px;
    background-color: #1a1a1a;
    background: url('../image/4x/Asset\ 39@4x.png') no-repeat center center;
    background-size: cover;
}
.problems-4 .box-items .box-custom {
    background: linear-gradient(180deg, #fa0000 20%, #cd0202 50%, #9f0404 80%);
    border-radius: 15px;
    padding: 12px 20px;
    font-size: 8px;
}

/* .problems-5 */
.problems-5 {
    text-align: center;
    background: url('../image/4x/Asset\ 45@4x.png') no-repeat;
    background-size: cover;
}

/* .problems-6 */
.problems-6 {
    height: 300px;
    background: #d7d7d7;
}
/* .problems-6 .box-items {
    background: url('../image/4x/Asset\ 49@4x.png') no-repeat center center;
    background-size: cover;
} */

/* .problems-7 */
.problems-7 .button-form {
    background: linear-gradient(180deg, #fa0000 20%, #cd0202 50%, #9f0404 80%);
    border-radius: 10px;
    padding: 8px 12px;
    font-family: 'GilroyMedium';
    display: inline-block;
}

/* booking */
#form-booking .input-custom {
    height: 36px;
    border-radius: 25px;
    font-size: 12px;
    border: 1px solid #fff;
    background-color: #333333;
    color: #fff;
}

#form-booking .input-custom::placeholder {
    color: #ffffff; /* Màu chữ placeholder */
}

#form-booking .button-form {
    background: linear-gradient(180deg, #fa0000 20%, #cd0202 50%, #9f0404 80%);
    border-radius: 10px;
    padding: 8px 12px;
    font-family: 'GilroyMedium';
    display: inline-block;
    color: #fff;
    transition: all .5s;
    animation: zoom 1.3s infinite;
}

img.menstore {
    max-width: 80%;
}
p.title-home {
    margin-bottom: 50px;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-white {
    color: white !important;
}
.text-black {
    color: black !important;
}
.text-#ffce00 {
    color: #ffce00 !important;
}
.w-100 {
    width: 100% !important;
}
.w-90 {
    width: 90% !important;
}
.w-80 {
    width: 80% !important;
}
.w-70 {
    width: 70% !important;
}
.w-60 {
    width: 60% !important;
}
.w-50 {
    width: 50% !important;
}
.w-40 {
    width: 40% !important;
}
.w-30 {
    width: 30% !important;
}
.w-20 {
    width: 20% !important;
}
.w-10 {
    width: 10% !important;
}
.w-5{
    width: 5% !important;
}
.left-10 {
    left: 10% !important;
}
.left-20 {
    left: 20% !important;
}
.left-30 {
    left: 30% !important;
}
.left-35 {
    left: 35% !important;
}
.left-40 {
    left: 40% !important;
}
.left-50 {
    left: 50% !important;
}
.left-60 {
    left: 60% !important;
}
.left-70 {
    left: 70% !important;
}
.left-80 {
    left: 80% !important;
}
.left-90 {
    left: 90% !important;
}
.left-100 {
    left: 100% !important;
}
.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
.position-relative {
    position: relative !important;
}
.position-absolute {
    position: absolute !important;
}
.position-absolute-center {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.position-fixed {
    position: fixed !important;
}
.text-justify {
    text-align: justify !important;
}
/* .d-flex {
    display: flex !important;
}
.d-inline-flex {
    display: inline-flex !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-between {
    justify-content: space-between !important;
} */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-next, .swiper-button-prev {
    width: 40px !important;
    height: 40px !important;
    background-color: rgba(0, 0, 0, 0.5); /* Nền tối */
    border-radius: 50%;
}

.swiper-button-next:after, .swiper-button-prev:after {
    content: "" !important;
    background: url('../image/4x/Asset 50@4x.png') no-repeat center;
    background-size: contain;
    width: 18px;
    height: 18px;
    display: block;
}

.swiper-button-prev:after {
    transform: scaleX(-1); /* Xoay icon theo chiều ngang */
}

.swiper-button-next {
    right: 0 !important;
}

.swiper-button-prev {
    left: 0 !important;
}

.error-message {
    color: #f89a9a;
    font-size: 10px;
    margin-top: 4px;
    display: block;
}

@keyframes zoom {
    0% {
        box-shadow: 0 0 0 0 #c31d1d;
    }
    70% {
        box-shadow: 0 0 0 15px transparent;
    }
    100% {
        box-shadow: 0 0 0 0 transparent;
    }
}